<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
  <title>Create Listing</title>
  <!-- Include necessary CSS and JS files -->
</head>
<body>
<h1>Create A Listing and Find Your Sole-Mate!</h1>

<form th:action="@{/listing/create}" th:object="${createListingDTO}" method="post" enctype="multipart/form-data" >

  <div class="form-group">
    <label for="brand">Brand:</label>
    <input type="text" id="brand" th:field="*{brand}" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="size">Size:</label>
    <input type="text" id="size" th:field="*{size}" class="form-control" required>
  </div>

  <!--  <div class="form-group">-->
  <!--    <label for="location">Location:</label>-->
  <!--    <input type="text" id="location" th:field="*{location}" class="form-control" required>-->
  <!--  </div>-->

  <!--  <div class="form-group">-->
  <!--    <label for="photoFile">Photo:</label>-->
  <!--    <input type="file" id="photoFile" name="photoFile" class="form-control-file" accept="image/*" required>-->
  <!--  </div>-->

  <div class="form-group">
    <label for="condition">Condition:</label>
    <input type="text" id="condition" th:field="*{condition}" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="style">Style:</label>
    <input type="text" id="style" th:field="*{style}" class="form-control" required>
  </div>

  <button type="submit" class="btn btn-primary">Create Listing!</button>
</form>

<!-- Include any additional HTML or scripts -->
</body>
</html>