<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<!--
DEPRECATED DUE TO STORING IMAGES LOCALLY INSTEAD OF IN A DB
Below is a general concept for the form to upload images, to save images in the database

-->
<form th:action="@{/image/upload}" method="POST" enctype="multipart/form-data">
  <input type="file" name="imageFiles" accept="image/*" multiple>
  <button type="submit">Upload</button>
</form>

</body>
</html>