<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{fragments :: head}"></head>
<header th:replace="~{fragments :: header}"></header>
<body>
<div class="gradientBg p-3 pt-4">
    <div class="color2 container rounded-5  p-2 shadow-lg">
        <div class="color1 container rounded-5 p-3">
            <div class="gradientForm container rounded-5 shadow-lg p-4">


                <div class="container" style="max-width: 500px">
                    <h3 class="mb-3">Spring Boot Image Upload example</h3>


                    <form   id="uploadForm" method="post"  th:action="@{../profile/upload}" enctype="multipart/form-data">

                    <div class="form-group file border border-3 rounded-4 border-secondary-subtle shadow-sm p-2">
                        <div class="preview">
                            <img id="file-ip-1-preview">
                        </div>
                        <input type="file" accept="image/*" id="input-file" name="file"
                               onchange="showImagePreview(event);">
                        <label class="file-upload-custom-button btn button1 btn-lg shadow ms-2 m-2" for="input-file">Upload Image</label>
                    </div>


                        <button class="btn btn-sm btn-outline-success float-right" type="submit">
                            Upload
                        </button>
                    </form>

                    <div
                            th:if="${message != null}"
                            class="alert alert-secondary alert-dismissible fade show text-center message mt-3"
                            role="alert">
                        [[${message}]]
                        <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                    </div>
                </div>





<!--                <form th:object="${userEntity}" th:action="@{../profile/profileEdit}" method="post"-->
<!--                      enctype="multipart/form-data">-->

<!--                    <div class="form-group file border border-3 rounded-4 border-secondary-subtle shadow-sm p-2">-->
<!--                        <div class="preview">-->
<!--                            <img id="file-ip-1-preview">-->
<!--                        </div>-->
<!--                        <input type="file" name="imageFiles" accept="image/*" id="image-input"-->
<!--                               onchange="showImagePreview(event);">-->
<!--                        <label class="btn button1 btn-lg shadow ms-2 m-2" for="image-input">Upload Image</label>-->
<!--                    </div>-->

<!--                    <label>Edit Display Name:-->
<!--                        <input type="text" th:field="*{displayName}"/>-->
<!--                    </label>-->
<!--                    <br/>-->
<!--                    <label>Edit First Name:-->
<!--                        <input type="text" th:field="*{firstName}"/>-->
<!--                    </label>-->
<!--                    <br/>-->
<!--                    <label>Edit Last Name:-->
<!--                        <input type="text" th:field="*{lastName}"/>-->
<!--                    </label>-->
<!--                    <br/>-->
<!--                    <label>Edit Email:-->
<!--                        <input type="text" th:field="*{email}"/>-->
<!--                    </label>-->
<!--                    <br/>-->
<!--                    <button type="submit">Save</button>-->
<!--                    <a th:href="@{'../profile'}">Back to profile</a>-->
<!--                </form>-->

                <!--<form method="post" role="form"-->
                <!--      th:action="@{..profileEdit}"-->
                <!--      th:object="${editProfileDTO}">-->
                <!--    <div class="form-control">-->
                <!--        <label>Edit Username:-->
                <!--            <input th:field="*{username}" class="form-control" >-->
                <!--        </label>-->
                <!--        <label>Edit Password:-->
                <!--            <input th:field="*{password}" class="form-control" >-->
                <!--        </label>-->
                <!--    </div>-->
                <!--    <input type="submit" value="Finished Editing" class="btn btn-primary">-->
                <!--</form>-->


            </div>
        </div>
    </div>
</div>
<script>
    function showImagePreview(event){
        if(event.target.files.length > 0){
            var src = URL.createObjectURL(event.target.files[0]);
            var preview = document.getElementById("file-ip-1-preview");
            preview.src = src;
            preview.style.display = "block";
            preview.style.width = "20em";
            preview.style.border = "2px solid hsla(0, 0%, 79%, 1)";
        }
    }

</script>
<th:block th:replace="~{fragments :: endingScripts}"></th:block>
</body>
</html>