<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{fragments :: head}"></head>
<header th:replace="~{fragments :: header}"></header>
<body class="m-2 gradientBg">


<!--<div th:object="${otherUser}">-->
<!--&lt;!&ndash;    <h1 th:text="${otherUser.displayName}"></h1>&ndash;&gt;-->

<!--&lt;!&ndash;form to initiate message to otherUser&ndash;&gt;-->
<!--    <form method="post" role="form"-->
<!--          th:action="@{'../message/create?receiver=' + ${otherUser.displayName}}"-->
<!--          th:object="${createMessageDTO}">-->

<!--        <div class="form-group mb-2">-->
<!--            <div class="form-floating border border-3 rounded-4 border-secondary-subtle p-2">-->
<!--                <input th:field="*{messageSubject}" id="messageSubject"-->
<!--                       class="form-control border border-0">-->
<!--                <label for="messageSubject">Subject:</label>-->
<!--                <p class="error" th:errors="*{messageSubject}"></p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <p class="error" th:errors="*{text}"></p>-->
<!--            <label>-->
<!--            <textarea th:field="*{text}" name="text" rows="5" cols="50"-->
<!--                      class="border border-3 rounded-5 border-secondary-subtle shadow-sm mb-2 p-3"></textarea>-->
<!--            </label>-->
<!--            <br/>-->
<!--        </div>-->
<!--        <div class="d-grid mb-2">-->
<!--            <input type="submit" value="Send Message" class="btn button1 btn-lg w-50 shadow ms-2">-->
<!--        </div>-->
<!--    </form>-->

<!--    &lt;!&ndash; Report Button &ndash;&gt;-->
<!--    <button id="reportButton" onclick="showForm()">Report User</button>-->
<!--    </br>-->
<!--    </br>-->

<!--    &lt;!&ndash; Report Form &ndash;&gt;-->
<!--    <div>-->
<!--        <form th:object="${reportDTO}" th:id="reportForm"-->
<!--              th:action="@{../profile/{displayName}(displayName=${displayName})}" method="post"-->
<!--              th:style="'display:none'">-->

<!--            <div class="form-group">-->
<!--                <label th:text="'Report User: ' + ${otherUser.displayName}" ></label>-->

<!--            </br>-->
<!--            <p>Reason:</p>-->
<!--                <textarea  th:field="*{complaintDetail}" rows="5" cols="50"-->
<!--                class="border border-3 rounded-5 border-secondary-subtle shadow-sm mb-2 p-3"-->
<!--                ></textarea>-->
<!--            </br>-->
<!--            <button type="submit">Submit Report</button>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->

<!--  -->
<!--    &lt;!&ndash; JS for hidden report form &ndash;&gt;-->
<!--    <script th:inline="javascript">-->
<!--        function showForm() {-->
<!--            let form = document.getElementById("reportForm");-->
<!--            form.style.display = "block";-->
<!--        }-->

<!--    </script>-->
<!--    <th:block th:replace="~{fragments :: endingScripts}"></th:block>-->



<!--</div>-->
<!--<th:block th:replace="~{fragments :: endingScripts}"></th:block>-->

</body>
</html>

