<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{fragments :: head}"></head>
<header th:replace="~{fragments :: header}"></header>
<body class="m-2 gradientBg">

<H3>Listings</H3>
<div class="listing-container">
    <div  th:each="listing : ${userListings}" class="listing-item">
        <div class="color1 container rounded-5 p-3">
            <div class="gradientForm container rounded-5 shadow-lg p-4">
                <a th:href="'/listings/details?listingId=' + ${listing.id}" th:text="${listing.id}"></a>
                <!--        This will be used to display the username and link to profile-->
                <p th:text="${listing.brand.name}"></p>
                <p th:text="${listing.style.name}"></p>
                <p th:text="${listing.size}"></p>
                <p th:text="${listing.userEntity.location.zipCode}"></p>
            </div>
        </div>
    </div>
</div>


<!--form to initiate message to otherUser-->
    <form method="post" role="form"
          th:action="@{'../message/create?re   ceiver=' + ${otherUser.displayName}}"
          th:object="${createMessageDTO}">

        <div class="form-group mb-2">
            <div class="form-floating border border-3 rounded-4 border-secondary-subtle p-2">
                <input th:field="*{messageSubject}" id="messageSubject"
                       class="form-control border border-0">
                <label for="messageSubject">Subject:</label>
                <p class="error" th:errors="*{messageSubject}"></p>
            </div>
        </div>
        <div class="form-group">
            <p class="error" th:errors="*{text}"></p>
            <label>
            <textarea th:field="*{text}" name="text" rows="5" cols="50"
                      class="border border-3 rounded-5 border-secondary-subtle shadow-sm mb-2 p-3"></textarea>
            </label>
            <br/>
        </div>
        <div class="d-grid mb-2">
            <input type="submit" value="Send Message" class="btn button1 btn-lg w-50 shadow ms-2">
        </div>
    </form>

    <!-- Report Button -->
    <button id="reportButton" onclick="showForm()">Report User</button>
    </br>
    </br>

    <!-- Report Form -->
    <div>

        <form th:object="${reportDTO}" th:id="reportForm"
              th:action="@{../profile/{displayName}(displayName=${displayName})}" method="post"
              th:style="'display:none'">

            <div class="form-group">
                <label th:text="'Report User: ' + ${otherUser.displayName}" ></label>

            </br>
            <p>Reason:</p>
                <input th:field="*{complaintDetail}" rows="5" cols="50"
                class="border border-3 rounded-5 border-secondary-subtle shadow-sm mb-2 p-3"
                />
            </br>
            <button type="submit">Submit Report</button>
            </div>
        </form>
    </div>

  
    <!-- JS for hidden report form -->
    <script th:inline="javascript">
        function showForm() {
            let form = document.getElementById("reportForm");
            form.style.display = "block";
        }

    </script>
    <th:block th:replace="~{fragments :: endingScripts}"></th:block>



</div>
<th:block th:replace="~{fragments :: endingScripts}"></th:block>

</body>
</html>

