<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <td><a th:href="'../profile/userData/' + ${shoeListing.userEntity.displayName}" th:text="${shoeListing.userEntity.displayName}"></a></td>

    <tr>
        <th>ID</th>
        <td th:text="${shoeListing.id}"></td>
    </tr>
    <tr>
        <th>Brand</th>
        <td th:text="${shoeListing.brand.name}"></td>
    </tr>
    <tr>
        <th>Size</th>
        <td th:text="${shoeListing.size}"></td>
    </tr>
    <tr>
        <th>Style</th>
        <td th:text="${shoeListing.style.name}"></td>
    </tr>
    <tr>
        <th>Condition</th>
        <td th:text="${shoeListing.condition}"></td>
    </tr>
</table>
</body>
</html>