<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<header th:replace="fragments :: header"></header>
<body>
<div class="gradientBg p-3 pt-4">
    <div class="color2 container searchPage rounded-top-5 p-2 shadow-lg">
        <div class="color1 container rounded-5 p-3">
            <div class="gradientForm container rounded-5 shadow-lg p-4">
                <div class="text-center">


    <a th:href="'../profile/' + ${shoeListing.userEntity.displayName}" th:text="${shoeListing.userEntity.displayName}"></a>


        <label>ID</label>
        <p th:text="${shoeListing.id}"></p>

        <label>Brand</label>
        <p th:text="${shoeListing.brand.name}"></p>


        <label>Size</label>
        <p th:text="${shoeListing.size}"></p>


        <label>Style</label>
        <p th:text="${shoeListing.style.name}"></p>


        <label>Condition</label>
        <p th:text="${shoeListing.condition}"></p>


                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>