<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<header th:replace="fragments :: header"></header>
<body>
<div class="gradientBg p-3 pt-4">
    <div class="color2 container listingsPage rounded-top-5 p-2 shadow-lg">
        <div class="color1 container rounded-5 p-3">
            <div class="gradientForm container rounded-5 shadow-lg p-4">
                <div class="text-center">

                    <h2>Listings</h2>

                    <div class="listing-container d-flex flex-wrap ">
                        <div  th:each="listing : ${allListings}" class="listing-item mb-3">
                            <div class="border border-3 rounded-5 border-secondary-subtle shadow-sm p-3">
                            <h4 th:text="${listing.title}"></h4>

                            <!--        This will be used to display the username and link to profile-->

                                <p th:text="'Brand: ' +  ${listing.brand.name}"></p>
                            <p th:text="'Style: ' +  ${listing.style.name}"></p>
                            <p th:text="'Size: ' +  ${listing.size}"></p>
                                <p th:text="'Condition: ' +  ${listing.condition}"></p>
                            <p th:text="'Location: ' +  ${listing.userEntity.location.zipCode}"></p>
                                <p><a style="color: white;" class="button1 btn btn-sm" th:href="'../profile/' + ${listing.userEntity.displayName}" th:text="'Message Owner: ' + ${listing.userEntity.displayName}"></a></p>
                                <a style="color: white" class="button1 btn btn-sm" th:href="'/listings/details?listingId=' + ${listing.id}" >Go to listing!</a></br>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>