/* Color Theme Variable Definitions */

/* light mode new color theme */
:root {

    /* PINK */
    --color1: hsla(333, 93%, 56%, 1);

    /* PURPLE */
    --color2: hsla(276, 91%, 38%, 1);

    /* DARK PURPLE */
    --color3: hsla(258, 86%, 34%, 1);

    /* LIGHT BLUE */
    --color4: hsla(194, 85%, 62%, 1);

    /* GREY */
    --grey: hsla(0, 0%, 79%, 1);

    --bgGradient: linear-gradient(to bottom, hsla(276, 91%, 89%, 1) 0%, hsla(0, 100%, 100%, 1) 25%, hsla(0, 100%, 100%, 1) 50%,  hsla(194, 85%, 62%, 1) 100%);
    --formGradient: linear-gradient(hsla(0, 100%, 100%, 1), hsla(194, 90%, 98%, 1));
    --loginGradient: radial-gradient(hsla(0, 100%, 100%, .7) 0%, hsla(194, 85%, 62%, 0) 60%,  hsla(194, 85%, 62%, 0) 100%);

    --smallAccent: hsla(258, 86%, 34%, 1);
    --mediumAccent: hsla(276, 91%, 38%, 1);
    --largeAccent: hsla(333, 93%, 56%, 1);

    --button1Accent: hsla(276, 91%, 38%, 1);
    --button1Hover: hsla(276, 91%, 28%, 1);
    --button2Accent: hsla(258, 86%, 34%, 1);
    --button2Hover: hsla(258, 86%, 24%, 1);

    --lightText: hsla(51, 100%, 95%, 1);
    --darkText: hsla(201, 100%, 20%, 1);

    --link: hsla(258, 86%, 34%, 1);
    --linkVisited: hsla(258, 86%, 34%, 1);
    --linkHover: hsla(333, 93%, 56%, 1);
    --linkActive: hsla(333, 93%, 56%, 1);

}


body {
    font-size: large;
    color: gray;
}

h3 {
color: var( --darkText);
}

/* all links bold */
a {
 font-weight: bold;
}

/* unvisited link */
a:link {
  color: var( --link);
}
/* visited link */
a:visited {
  color: var( --linkVisited);
}
/* hover link */
a:hover {
  color: var( --linkHover);
}
/* selected link */
a:active {
  color: var( --linkActive);
}


.color1 {
background: var( --color1);
}
.color2 {
 background: var( --color2);
}
.color3 {
background: var( --color3);
}
.color4 {
background: var( --color4);
}


.button1 {
 background-color: var( --button1Accent);
    color: var( --lightText);
 &:hover {
         background-color: var( --button1Hover);
         color: var( --lightText);
     }
}
/*
.button2 {
background-color: var( --button2Accent);
 color: var( --lightText);
&:hover {
        background-color: var( --button2Hover);
        color: var( --lightText);
    }
}
*/


/* Navbar text color */
.navbar-text-color a{
    color: #f5efff;
}

.nav-bar-custom a {
  color: var(--lightText);
}

.nav-bar-custom a:hover {
  color: var( --color1);
}
/* Fills dropdown bubble with the rest of the color, white lines present otherwise */
.navbar-nav > li > .dropdown-menu { background-color: var(--color2); }


/* login Background */
.login {
    background-image: var(--loginGradient), url('../images/home/home-image-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: calc(97vh - 10px);
}

/* Gradient for most Page Backgrounds */
.gradientBg {
 background-image: var(--bgGradient);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(97vh - 10px);
}

/* Gradient for Login and Registration Form */
.gradientForm {
    background-image: var(--formGradient);
}

/* Home Page */
.home {
    background-image: url('../images/home/home-image-1.jpg');
    background-size: cover;
}


/* For New User Registration form */
.registrationForm {
width: 700px;
}

/* User Login Form */
.loginForm {
width: 700px;
}

/* Messages Page */
.messagesPage {
width: 720px;
}

/* For fetchSuggestions.js and associated suggestions code in templates */
.results ul{
padding: 10px 10px;
}
.results ul li {
    display:block;
    list-style: none;
    padding: 12px 10px;
    cursor: pointer;
    min-width: 200px;
}
.results {
    position:absolute;
    background-color:#f9f9f9;
    max-height: 280px;
}
.results ul li:hover {
    background:#e9f3ff;
}


/* Pagination menu */
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: var( --color3);
    background-color: white !Important;
    border: solid 1px var( --color3) !Important;
}
.pagination > .active > a {
    color: white;
    background-color: var( --color3) !Important;
    border: solid 1px var( --color3) !Important;
}
.pagination > .active > a:hover {
    color: white;
    font-weight: bold;
    background-color: var( --color3) !Important;
    border: solid 1px var( --color3) !Important;
}


/** Image Radio Buttons for create listing shoe condition **/
.hidden-radio {
    display:none
}
input[type=radio]:checked + label>img {
  border: 3px solid var( --color2);
  box-shadow: 0 .5rem 1rem var( --color1);
  background-color:white;
}
input[type=radio] + label>img {
  background-color: white;
  border: 3px solid var( --grey);
  border-radius: 25px;
  box-shadow: 0 .5rem 1rem var( --grey);
  width: 100px;
  height: 100px;
  transition: 500ms all;
}

/* for admin */
.adminPage{
    text-align: center;
}
.reportTable{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
th{
    padding: 10px;
    text-align: center;
    border: 3px solid;
}
.tableElement{
    padding: 10px;
    text-align: left;
    border: 1px solid;
}