<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments :: head}"></head>
<header th:replace="fragments :: header"></header>

<body>

<h1>ADMIN</h1>

<h3>Report List</h3>
<table>
    <thead>
    <tr>
        <th>Report ID</th>
        <th>Display Name</th>
        <th>Roles</th>
        <th>Reported By</th>
        <th>Reason</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="report : ${allReports}">
        <td th:text="${report.id}"></td>
        <td th:text="${report.userEntity.displayName}"></td>
        <td th:text="${report.userEntity.roles}"></td>
        <td th:text="${report.submittingUser.displayName}"></td>
        <td th:text="${report.complaintDetail}"></td>
        <td>
            <form th:action="@{/admin}" method="post">
            <input type="hidden" name="reportedDisplayName" th:value="${report.userEntity.displayName}" />
            <button type="submit">Process</button>
            </form>
        </td>
<!--        <td><a th:onclick="userService.banUser(${report.userEntity})" th:href="@{/admin}" class="btn button1 btn-lg" style="color: var( &#45;&#45;lightText);">Ban User</a></td>-->

<!--        <td><a id="reportedUser" th:href="@{/admin}" class="btn button1 btn-lg" style="color: var( &#45;&#45;lightText);">Ban User</a></td>-->

        <td><a class="btn button1 btn-lg" style="color: var( --lightText);">Ignore</a></td>
    </tr>


    </tbody>
</table>


</body>
</html>