<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="~{fragments :: head}"></head>
<header th:replace="~{fragments :: header}"></header>
<!--<link rel="stylesheet" th:href="@{/path/to/carousel.css}" />-->
<!--<script th:src="@{/js/carousel.js}" defer="defer"></script>-->

<body class="home" data-bs-theme="dark">


<div class="container">
</div>
<br/>
<br/>
<div class="container">
<a href="/register">Register Page</a>
<br/>
<a href="/login">Login Page</a>
<br/>

<a href="/listings/create">Create A Listing</a>
<br/>
<a href="/profile">Profile Page</a>
<br/>
<a href="/message/messages">MessageChain "Conversations" page</a>
<br/>
<a href="/message/create">Create New Message Chain "Conversations" page</a>

</div>






<!--            TEST-->
<div id="imageContainer" class="container"></div>
<div id="imageDiv" style="background-image:  url('../images/new-shoe.png'); width: 200px; height: 200px; background-size: cover;">
</div>
</div>
<button id="prevButton" >Prev</button>
<button id="nextButton" >Next</button>

<script th:src="@{/js/test.js}"></script>

<!--            TEST-->
<div class="carousel-container">




    <!--    <div th:replace="~{carousel :: carousel-content}"></div>-->
</div>




<th:block th:replace="~{fragments :: endingScripts}"></th:block>
</body>
</html>