<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>

<body>

TEST HOME
<br/>

<a href="/message/messages">MessageChain page</a>
<br/>
<a href="/register">Register Page</a>
<br/>
<a href="/login">Login Page</a>
<br/>
<a href="/message/create">Create a new Message Chain Page</a>
<br/>
<a href="/image/display">Image display Page</a>
<br/>
<a href="/image/imageUploadPlaceholder">Image upload placeholder Page</a>

<th:block th:if="${param.success}" class="alert alert-success">
    REGISTRATION SUCCESSFUL!!  SHOE TIME
</th:block>

<th:block th:if="${param.success}" class="alert alert-success">
    LOGIN SUCCESSFUL!!  SHOE TIME
</th:block>


<!--pulling information related to the user into template-->
<th:block th:if="${userEntity}" class="alert alert-success">
    Welcome <span th:text="${userEntity.username}"></span>
</th:block>


</body>
</html>