<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>

<body>

<div class="main">
    <div class="col-md-6 col-sm-12">
        <th:block th:text="${existingUsername}" class="alert"></th:block>
        <div class="login-form">
            <form method="post" role="form"
                  th:action="@{/register}"
                  th:object="${registerDTO}">
                <div class="form-group">
                    <label>First Name</label>
                    <input
                            type="text"
                            class="form-control"
                            placeholder="First Name"
                            th:field="*{firstName}">

                    <label>Last Name</label>
                    <input
                            type="text"
                            class="form-control"
                            placeholder="Last Name"
                            th:field="*{lastName}">

                    <label>Date of Birth</label>
                    <input
                            type="date"
                            class="form-control"
                            placeholder="Date of Birth"
                            th:field="*{birthday}">

                    <label>Username</label>
                    <input
                            type="text"
                            class="form-control"
                            placeholder="Username"
                            th:field="*{username}">
                </div>
                <p th:if="${#fields.hasErrors('username')}" class="text-danger"></p>

                <div class="form-group">
                    <label>Password</label>
                    <input
                            type="password"
                            class="form-control"
                            placeholder="Password"
                            th:field="*{password}">
                </div>
                <p th:if="${#fields.hasErrors('password')}" class="text-danger"></p>
                <p th:text="${passwordCheckFail}" class="text-danger"></p>

                <div class="form-group">
                    <label>Confirm Password</label>
                    <input
                            type="password"
                            class="form-control"
                            placeholder="Confirm Password"
                            th:field="*{passwordCheck}">
                </div>


                <a th:href="@{/login}" class="btn btn-black">Login here.</a>
                <button th:href="@{/register}" type="submit" class="btn btn-secondary">Register</button>

            </form>
        </div>
    </div>
</div>

</body>
</html>