<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<header th:replace="fragments :: header"></header>
<body class="m-2 gradientBg">
<div>
    <form method="get" action="/listings">
        <div id="searchbar">
            <label>Search:</label>
            <input type="text" name="searchTerm"></br>
        </div>

        <input type="checkbox" id="male" name="gender" value="male">
        <label for="male">M</label>
        <input type="checkbox" id="female" name="gender" value="female">
        <label for="female">F</label></br>

        <label>Brand:</label></br>
        <th:block th:each="brand : ${topBrands}">
            <input type="checkbox" name="brands" th:value="${brand}">
            <label>
                <span th:text="${brand}"></span>
            </label></br>
        </th:block>

        <label>Size:</label></br>
        <th:block th:each="size : ${shoeSizes}">
            <input type="checkbox" name="sizes" th:value="${size}">
            <label>
                <span th:text="${size}"></span>
            </label>
        </th:block></br>

        <label>Style:</label></br>
        <th:block th:each="style : ${topStyles}">
            <input type="checkbox" name="styles" th:value="${style}">
            <label>
                <span th:text="${style}"></span>
            </label></br>
        </th:block>

        <label>Condition:</label></br>
        <th:block th:each="condition : ${conditions}">
            <input type="checkbox" name="conditions" th:value="${condition}">
            <label>
                <span th:text="${condition}"></span>
            </label></br>
        </th:block>

        <button type="submit">Search Listings</button>
    </form>


</div>
<th:block th:fragment="endingScripts">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</th:block>
</body>
</html>
