<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<div class="container" style="max-width: 500px">
    <h3 class="mb-3">Spring Boot Image Upload example</h3>

    <form
            id="uploadForm"
            method="post"
            th:action="@{/images/upload}"
            enctype="multipart/form-data">
        <input id="input-file" type="file" name="file" accept="image/png, image/jpeg" />
        <button class="btn btn-sm btn-outline-success float-right" type="submit">
            Upload
        </button>
    </form>

    <div
            th:if="${message != null}"
            class="alert alert-secondary alert-dismissible fade show text-center message mt-3"
            role="alert">
        [[${message}]]
        <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"></span>
        </button>
    </div>
</div>


<th:block th:replace="~{fragments :: endingScripts}"></th:block>

</body>


</html>