<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>

<body class="m-2">

<br/>

<a href="/message/create">Click here to message someone new (Create new MessageChain)</a>

<br/>
<br/>
<hr/>
<br/>
    <h2>Your Conversations</h2>
    <br/>
    <hr/>
    <br/>
    <div th:each="messageChain : ${messageChainList}"
    class="p-1">

        <!--            todo: update link to user profile page.-->
        <span>Message Subject: <a th:href="'/message/message?messageChainId=' + ${messageChain.id}" th:text="${messageChain.messageChainSubject}"></a></span>
        <p>with:
            <th:block th:unless="${userEntity.username.equals(messageChain.userEntityList[0].username)}">
                <a th:href="'/profile/PUTUSERPROFILEHERE?username=' + ${messageChain.userEntityList[0].username}">
                    <span th:text="${messageChain.userEntityList[0].username}"></span>
                </a>
        </th:block>
            <!--            todo: update link to user profile page.-->
            <th:block th:unless="${userEntity.username.equals(messageChain.userEntityList[1].username)}">
                <a th:href="'/profile/PUTUSERPROFILEHERE?username=' + ${messageChain.userEntityList[1].username}">
                    <span th:text="${messageChain.userEntityList[1].username}"></span>
                </a>

            </th:block>
        </p>

        <div class="p-2">
        <p>Last Message in Chain: <span th:text="${messageChain.messages[messageChain.messages.size() - 1].text}"></span></p>
            <p>From: <span th:text="${messageChain.messages[messageChain.messages.size() - 1].userEntity.username}"></span></p>
        </div>
        <hr/>
    </div>


</div>


<th:block th:replace="~{fragments :: endingScripts}"></th:block>
</body>

<footer style="font-size: large" class="panel-footer">

<!--    <span th:text="${'Total Conversations: ' + totalItems}"></span>-->
<!--    <span th:text="${' Page ' + currentPage + ' of ' + totalPages + ' - '}"></span>-->

    <!--    sets the pagination menu / control-->
    <nav aria-label="Conversations Page Navigation Menu">
        <ul class="pagination pagination-lg justify-content-center">

            <li th:unless="${currentPage == 1}" class="page-item"><a class="page-link" th:href="@{'/message/messages/page/' + ${currentPage - 1}}">Previous</a></li>
<!--            <li th:if="${currentPage == 1}" class="page-item disabled"><a class="page-link" th:href="@{'/message/messages/page/' + ${currentPage - 1}}">Previous</a></li>-->


<!--            Sets active status for the current page-->

<!--            <th:block th:if="${totalItems - currentPage > 2 && totalItems-->
            <th:block th:each="i: ${#numbers.sequence(currentPage - 2 , currentPage + 2)}">
                <th:block th:if="${currentPage == i}">
                    <li class="page-item active">
                        <a class="page-link" th:href="@{'/message/messages/page/' + ${i}}">[[${i}]]</a>
                    </li>
                </th:block>
                <th:block th:unless="${currentPage == i}">
                    <li class="page-item">
                        <a class="page-link" th:href="@{'/message/messages/page/' + ${i}}">[[${i}]]</a>
                    </li>
                </th:block>
            </th:block>


            <li th:unless="${currentPage == totalPages}" class="page-item"><a class="page-link" th:href="@{'/message/messages/page/' + ${currentPage + 1}}">Next</a></li>
<!--            <li th:if="${currentPage == totalPages}" class="page-item disabled"><a class="page-link" th:href="@{'/message/messages/page/' + ${currentPage + 1}}">Next</a></li>-->

        </ul>
    </nav>




</footer>
</html>