<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{fragments :: head}"></head>
<body class="m-2">

<h5><span th:text="${userEntity.username}"></span> and <span>


    <th:block th:unless="${userEntity.username.equals(messageChain.userEntityList[0].username)}">
                <a th:href="'/profile/PUTUSERPROFILEHERE?username=' + ${messageChain.userEntityList[0].username}">
                    <span th:text="${messageChain.userEntityList[0].username}"></span>
                </a>
        </th:block>
    <!--            todo: update link to user profile page.-->
            <th:block th:unless="${userEntity.username.equals(messageChain.userEntityList[1].username)}">
                <a th:href="'/profile/PUTUSERPROFILEHERE?username=' + ${messageChain.userEntityList[1].username}">
                    <span th:text="${messageChain.userEntityList[1].username}"></span>
                </a>

            </th:block>
</span>
</h5>

<span><h4>Subject:</h4> <span th:text="${messageChain.messageChainSubject}"></span></span>

<div th:each="message : ${messageChain.messages}"
     class="p-1">
    <div class="border rounded">
        <p th:text="${message.userEntity.username}"></p>
        <p th:text="${message.text}"></p>

    </div>


</div>




<form method="post" role="form"
      th:action="@{../message/message}"
      th:object="${addMessageDTO}">

    <h2>Add Message</h2>

    <label>Message:
        <textarea th:field="*{text}" name="text" rows="5" cols="50" />

    </label>
    <input type="hidden" name="messageChainId" th:value="${messageChain.id}" />
    <input type="hidden" name="messageChainId" th:field="*{messageChainId}" th:value="${messageChainIdFromController}" />

    <input type="submit" value="Add Message" class="btn btn-primary">


</form>

<a href="/message/messages">Return to MessageChain page</a>

<th:block th:replace="~{fragments :: endingScripts}"></th:block>
</body>
</html>